{% layout "layouts/base.liquid" %}
{% block head %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/details.css">
  {% endblock %}


{% block content %}


  <img src="https://image.tmdb.org/t/p/w500{{ movieDetail.poster_path }}" alt="{{ movieDetail.resultData.title }}" class="headerImg">
  <img src="https://image.tmdb.org/t/p/w500{{ movieDetail.backdrop_path }}" alt="{{ movieDetail.resultData.title }}" class="headerBG">

 

<section>
<ul> 
  <li>{{ movieDetail.title }}</li>
  <li>{{ movieDetail.release_date}}</li>
  <li>{{ movieDetail.overview }}</li>
  <li>{{ movieDetail.budget}}</li>
  <li>{{ movieDetail.vote_average}}</li>
</ul>
</section>



  
{% endblock %}
