{% layout "layouts/base.liquid" %}
{% block head %}
    <title>{{ title }}</title>
  {% endblock %}


{% block content %}


  <header>
    <img src="https://image.tmdb.org/t/p/w500{{ upcomingData.results[1].backdrop_path }}" alt="{{ upcomingData.results[0].title }}" class="headerImg">
  </header>

 

  <main>
    <form>
      <label for="searchSite">Search for a movie</label>
      <input type="search" id="searchSite">
    </form>
<section>
  <h2> Trending </h2>
  <ul>
    {% for movie in movieData.results  %}  
    <li>
      <a href="/movie/{{movie.id}}">
      <img src="https://image.tmdb.org/t/p/w400{{ movie.poster_path }}" alt="{{ movie.title }}">
      <span>{{ movie.title | default: movie.name }}</span>
      </a>
      
    </li>
    {% endfor %}  
  </ul>
</section>
</main>

  
{% endblock %}
