{% layout "layouts/base.liquid" %}
{% block head %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/index.css">
  {% endblock %}


{% block content %}


  <header>
    <img src="https://image.tmdb.org/t/p/w500{{ upcomingData.results[7].poster_path }}" alt="{{ upcomingData.results[7].title }}" class="headerImg">
    <img src="https://image.tmdb.org/t/p/w500{{ upcomingData.results[7].backdrop_path }}" alt="{{ upcomingData.results[7].title }}" class="headerBG">
  </header>

 

  <main>
    
<section>
  <h2 class="trendingH2"> Trending </h2>
  <ul>
    {% for movie in movieData.results  %}  
    <li>
      <a href="/movie/{{movie.id}}">
      <img src="https://image.tmdb.org/t/p/w400{{ movie.poster_path }}" alt="{{ movie.title }}">
      <span>{{ movie.title | default: movie.name }}</span>
      </a>
      
    </li>
    {% endfor %}  
  </ul>
</section>

<section>
  <h2> Top rated </h2>
  <ul >
  {% for movie in ratedData.results  %} 
  <li>
    <a href="/movie/{{movie.id}}">
      <img src="https://image.tmdb.org/t/p/w400{{ movie.poster_path }}" alt="{{ movie.title }}">
      <span>{{ movie.title | default: movie.name }}</span> 
      </a>
      </li>
      
  {% endfor %}
  </ul>
</section>


<section>
  <h2> Upcoming </h2>
  <ul>
  {% for movie in upcomingData.results  %} 
  <li>
    <a href="/movie/{{movie.id}}">
      <img src="https://image.tmdb.org/t/p/w400{{ movie.poster_path }}" alt="{{ movie.title }}">
      <span>{{ movie.title | default: movie.name }}</span> 
      </a>
      </li>
     
  {% endfor %}
  </ul>
</section>

</main>

  
{% endblock %}
